<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your book rental has expired!</h1>
    <br>
    <h6>Book title: <%= @rent.book.title %> </h6>
    <h6>End date: <%= @rent.end_of_rent %> </h6>
  </body>
</html>