<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t 'books.your_book_rental_has_expired' %></h1>
    <br>
    <h6><%= "#{t 'books.book_title' }: #{@rent.book.title}" %></h6>
    <h6><%= "#{t 'books.end_date' }: #{@rent.end_of_rent}" %></h6>
  </body>
</html>